{% assign show_name = page.showKey %}
{% assign bio_data = site.data.bios[show_name] %}
<div classname="biosBlock">
	<h2 classname="biosBlock-title">Cast & Crew Bios</h2>
	<div classname="biosBlock-wrapper">
		{% for bio in bio_data.bios %}
			<div id="{{ bio.name }}">
				<div classname="biosBlock-singleBio">
					<h4 classname="biosBlock-singleBio--title">{{ bio.name }}</h4>
					<div classname="biosBlock-singleBio--copyText">
						<p>{{ bio.bio }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
